/*BiliCraft global style*/

header > a{
    margin: 0px;
    text-decoration: none;
}

header > a > h1{
    margin: auto;
    margin-left: 8px;
    color: black;
    text-decoration: none;
}

footer{
    display: flex;
    background-color: white;
}

footer > *{
    margin-right: 8px;
}