<!doctype html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8"/>
    <title>Topic name</title>
    <link rel="stylesheet" href="/templates/bcwst.css"/>
</head>

<body>
    <header>
        <script></script>
    </header>

    <main>
        <div id="header-container">
            <div class="components-loading">Loading header...</div>
        </div>

        <div class="contctn">
            <!--主题标题-->
            <h2 class="tpct">文章主题</h2>
            <!--正文内容-->
            <div class="madv">
                <!--示例-->
                <p>正文</p>
                <!--标题只能用h3 h4 h5 h6-->
                <h3>小标题1</h3>
                <p>小标题内容</p>
                <div class="imgdv">
                    <img src="/introduction.png"
                    alt="图片描述">
                    <div>
                        <p>图片的说明文字</p>
                    </div>
                </div>
                <h4>下一级标题</h4>
                <div class="do">
                    应该做这些
                </div>
                <div class="dont">
                    避免做这些
                </div>
                <div class="attention">
                    仔细考虑下
                </div>
            <!--正文到这里结束-->
            </div>
        </div>
        <div id="toc-container">
            <script src="/templates/autoindex.js"></script>
            <div id="toc-title">目录</div>
            <div id="toc"></div>
          </div>
    </main>

    <div id="footer-container">
        <div class="components-loading">Loading footer...</div>
    </div>
    <script src="/global/headerfooter.js" defer></script>
</body>
</html>