<!doctype html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8"/>
    <!--修改Topic Name为你的机器名称-->
    <title>BiliCraft Fan Wiki - Topic Name</title>
    <link rel="stylesheet" href="/global/style/bcws.css"/>
    <link rel="stylesheet" href="/global/style/bcwst.css"/>
</head>

<body>
    <header>
        <script></script>
    </header>

    <main>
        <div id="header-container">
            <div class="components-loading">Loading header...</div>
        </div>

        <div class="contctn">
            <!--机器名称-->
            <h2 class="tpct">公会名称</h2>
            <!--正文内容-->
            <div class="madv">
                <!--在这里填写编辑者信息，多个编辑者用中文逗号隔开-->
                <div class="editor"><a class="profile">编辑者1</a>，<a class="profile">编辑者2</a></div>
                <!--简单描述你的公会，这将作为搜索结果的概述-->
                <p>公会简述</p>

                <h3>公会Logo</h3>
                <img src="faction-logo.png">

                <h3>公会Wiki</h3>
                <a href=""></a>

                <h3>公会成员</h3>
                <ul>
                    <li><a class="profile">成员1</a></li>
                    <li><a class="profile">成员2</a></li>
                </ul>

                <!--如果你觉得太长，你可以为公会建立一个Wiki-->
                <h3>公会历史（简述）</h3>
                <p></p>

                <!--下方的几个栏目都可以自己改动、添加或删除-->
                <h3>公会现状</h3>

                <h3>发展规划</h3>

                <h3>公会风景</h3>
                
            <!--正文到这里结束-->
            </div>
        </div>
        <div id="toc-container">
            <script src="/templates/autoindex.js"></script>
            <div id="toc-title">目录</div>
            <div id="toc"></div>
          </div>
    </main>

    <div id="footer-container">
        <div class="components-loading">Loading footer...</div>
    </div>
    <script src="/global/headerfooter.js" defer></script>
    <script src="/templates/auto-link-profile.js" defer></script>
    <script src="/templates/auto-link-game-item.js" defer></script>
    <script src="/templates/auto-link-faction.js" defer></script>
</body>
</html>