<!doctype html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8"/>
    <title>BiliCraft Fan Wiki - 使用模板进行创作</title>
    <link rel="stylesheet" href="/templates/bcwst.css"/>
</head>

<body>
    <header>
        <script></script>
    </header>

    <main>
        <div id="header-container">
            <div class="components-loading">Loading header...</div>
        </div>

        <div class="contctn">
            <!--主题标题-->
            <h2 class="tpct">使用模板进行创作</h2>
            <!--正文内容-->
            <div class="madv">
                <!--编辑者信息-->
                <div class="editor"><a class="profile">LinTsingShi</a></div>
                <p>
                    使用模板进行创作以让本Wiki视觉上统一，同时也极大地减少了工作量。<br/>
                    实际上，不同的模板使用同一套方案，模板通过提供布局来让某一主题的文章观感统一。
                </p>
                <div class="do">使用Ctrl + S来保存需要的模板。</div>
                <div class="attention">除标题外，修改的内容应当限定在&lt;div class="madv"&gt;和对应的&lt;/div&gt;标签之间，即正文内容部分。
                    按照模板的提示进行编辑，不要擅自删除模板的条目。确保将head内的title的Topic Name替换为文章主题。
                    <div class="imgdv">
                        <img src="/templates/edit-zone.png"
                        alt="允许编辑的位置">
                        <div>
                            <p>应该在这个区域进行编辑</p>
                        </div>
                    </div>
                </div>
                <p>针对不同的主题，我们有不同的模板进行选择：</p>
                <!--标题只能用h3 h4 h5 h6-->
                <h3><a href="/templates/basic-template.html">基本模板</a></h3>
                <p>适合用来编写教程或其他主题文章。</p>
                <h3><a href="/templates/machine-template.html">机器文档模板</a></h3>
                <p>记录在BiliCraft的机器的基本信息和使用教程。</p>
                <h3><a href="/templates/faction-template.html">公会模板</a></h3>
                <p>介绍你的公会，公会的发展规划，甚至是建立公会WIki！</p>
                <h3>交易模板</h3>
                <p>在这里展示你的交易</p>
            <!--正文到这里结束-->
            </div>
        </div>
        <div id="toc-container">
            <script src="/templates/autoindex.js"></script>
            <div id="toc-title">目录</div>
            <div id="toc"></div>
          </div>
    </main>

    <div id="footer-container">
        <div class="components-loading">Loading footer...</div>
    </div>
    <script src="/global/headerfooter.js" defer></script>
    <script src="/templates/auto-link-profile.js" defer></script>
    <script src="/templates/auto-link-game-item.js" defer></script>
    <script src="/templates/auto-link-faction copy.js" defer></script>
</body>
</html>